body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 a.active {
  color: #fff;
  background: blue;
  padding:1rem;
  text-decoration:none;
}
a.active:hover{
  color:white
}
a.inactive:hover{
  color:cyan
}
 a.inactive {
  font-style: italic;
  text-decoration:none;
}